<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_page_number</key>
	<string>&amp;page=1</string>
	<key>default_language</key>
	<string>&amp;language=en-US</string>
	<key>poster_main_url</key>
	<string>https://image.tmdb.org/t/p/w1280</string>
	<key>api_main_url</key>
	<string>https://api.themoviedb.org/3</string>
	<key>api_key</key>
	<string>?api_key=1f54bd990f1cdfb230adb312546d765d</string>
	<key>GET_UPCOMING_MOVIES</key>
	<string>/movie/upcoming</string>
	<key>GET_GENRE</key>
	<string>/genre/movie/list</string>
	<key>GET_TRANSLATES</key>
	<string>/configuration/primary_translations</string>
</dict>
</plist>
